extends ../layouts/main.pug
include ../mixins/videoPlayer
block content
    .video_detail_container
        +videoPlayer({
				src:video.fileUrl
		})
        .video_info
            if loggedUser
                if video.creator._id == loggedUser._id
                    a(href=`/videos/${video.id}/edit`) Edit video
            span.video_title=video.title
            span.video_description=video.description
            span.video_views #{video.views} views
            .creator 
                span Uploaded by 
                a(href=`/users/${video.creator._id}`)=video.creator.name
        .video_comment
            .video_comment_number
                span#jsCommentsNumber=video.comments.length
                |  Comments
            if loggedUser
                form.add_comment#jsAddComment
                    input(type="text",placeholder="Add your comment",name="comment")
            ul.list_comment#jsListComment
                each comment in video.comments.reverse()
                    li
                        span=comment.text
