extends ../layouts/main.pug
block content
    .video_detail_container
        .video_player
            video(src=`/${video.fileUrl}`,controls = true,width="650px")
        .video_info
            if loggedUser
                if video.creator._id == loggedUser._id
                    a(href=`/videos/${video.id}/edit`) Edit video
            span.video_title=video.title
            span.video_description=video.description
            span.video_views #{video.views} views
            .creator 
                span Uploaded by 
                a(href=`/users/${video.creator._id}`)=video.creator.name
        .video_comment
            if video.comments.length === 0
                span.video_comment_number 0 comment
            else
                span.video_comment_number #{video.comments.length} comment
