extends ../layouts/main.pug
block content
    if errors
        each error in errors
            p=error
    .form_container
        form(action="/join",method="post")
            input(type="text", name="name",placeholder="Full name" value=value?value.name:"" required="true")
            input(type="text", name="email",placeholder="Email" value=value?value.email:"")
            input(type="password", name="password",placeholder="Password" value=value?value.password:"" required="true")
            input(type="password", name="password2",placeholder="Verify Password" value=value?value.password2:"" required="true")
            input(type="submit" value="Join Now")
        include ../partials/socialLogin